.header {
  position: absolute;
left: 50px;
top: 15px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;

color: #33313B;

}
.you {
margin-left: 100px;
}
.local {
  margin-left: 158px;
}
.toot {
  margin-left: 316px;
  text-decoration: none;
  color:inherit;
}
.federated {
  margin-left: 316px;
}
.search {
    margin-left: 158px;
}
.avatar {
  border-radius: 50%;
}

.menu {
  position: absolute;
width: 131px;
height: 170px;
left: 4px;
top: 130px;
background: #FFFFFF;
border: 1px solid rgba(51, 49, 59, 0.11);
box-sizing: border-box;
border-radius: 15px;
z-index: 500;
}
.ttoot0 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot1 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot2 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot3 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot4 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot5 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot6 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot7 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot8 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot9 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot10 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot11 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot12 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot12 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot13 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot14 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot15 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot15 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot16 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot17 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot18 {

position: absolute;
width: 660px;
height: 423px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.ttoot19 {

position: absolute;
width: 660px;
height: 423px;
left: 435px;
background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 29px;
}
.end {
  position: absolute;
  top: 12201px;
  left: 560px;
  width: 420px;
  height: 120px;
  background: #FFFFFF;
  border: 4px solid #DBE9B7;
  box-sizing: border-box;
  border-radius: 29px;
}
.thatsIt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: normal;
  position: absolute;
  left: 10px;
  color: #33313b;
}
.wantToReadMore {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  left: 10px;
  top: 50px;
  color: #33313b;
}
.toot-poster {
left: 70px;
top: -20px;
position: absolute;


font-family: Sacramento;
font-style: normal;
font-weight: normal;
font-size: 47px;
line-height: normal;

color: #113F67;
}
.toot-contents {
position: absolute;
left: 28px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #33313B;
}
.avatarr {
  position: absolute;
left: 10px;
top: 20px;
    border-radius: 50%;
}
.owo {
  position: absolute;
left: 20px;
top: 380px;
text-decoration: none;
color:inherit;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #33313B;
}
.toot-tags {
position: absolute;
left: 25px;
top: 80px;

font-family: Porcelain;
font-size: 12px;
color: #005792;

}
.invisible {
  display: none;
}
.highlighted  {
  text-decoration: underline #FFD3DE;
}
a {
    text-decoration: none;
    color:inherit;
}
.toot-area {
  position: absolute;
width: 569px;
height: 423px;
left: 600px;
top: 401px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 10px;
outline: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #71A0A5;
}
#submit {

position: absolute;
width: 95px;
height: 43px;
left: 826px;
top: 900px;

border: 3px solid #FFD3DE;
box-sizing: border-box;
border-radius: 29px;
}
.toot-area-channels {
  position: absolute;
width: 569px;
height: 50px;
left: 600px;
top: 301px;

background: #FFFFFF;
border: 4px solid #DBE9B7;
box-sizing: border-box;
border-radius: 10px;
outline: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #71A0A5;
}
.channel-info {
  position: absolute;
height: 50px;
width: 500px;
left: 600px;
top: 340px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;
display: none;
color: #71A0A5;
}
#hover {
  border: none;
  outline: none;
font-family:inherit;
font-size: inherit;
position: absolute;
height: 50px;
width: 500px;
left: 1000px;
top: 301px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #71A0A5;
}
#hover:hover {
  color: #000000;
}
.header {
  position: absolute;
margin-left: 15px;
top: 0px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;

color: #33313B;
}
.you {
margin-left: 100px;
}
.local {
  margin-left: 158px;
}
.toot {
  margin-left: 316px;
  text-decoration: none;
  color:inherit;
}
.federated {
  margin-left: 316px;
}
.search {
    margin-left: 158px;
}
.avatar {
  position: absolute;
  left: 0px;
  top: 10px;
border-radius: 50%;
}
.avatarr {
  border-radius: 50%;
}
.place {
  left: 435px;
  top: 301px;
}
.toot-but {
  border: none;
  outline: none;
font-family:inherit;
font-size: inherit;
}
.but {
  border: none;
  outline: none;
font-family:inherit;
font-size: inherit;
}
@font-face {
    font-family: 'Porcelain'; /*a name to be used later*/
    src: url('http://nosuchthingj.com/fonts/Porcelain.ttf'); /*URL to font*/
}
.profile-header {
  position: absolute;
width: 20000px;
height: 244px;
left: 14px;
top: 150px;
/* remove latter */
display: none;
}
.name {
  position: absolute;
width: 134px;
height: 59px;
left: 40px;
top: 650px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: normal;

color: #000000;

}
.note {
  position: absolute;
width: 1276px;
height: 106px;
left: 40px;
top: 770px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;

color: #000000;
}
.Posts-profile {

position: absolute;
width: 52px;
height: 24px;
left: 694px;
top: 900px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: normal;

color: #33313B;
}
.Posts-count {
  position: absolute;
width: 117px;
height: 24px;
left: 735px;
top: 1000px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;

color: #000000;
}
#moderationBut {
  position: absolute;
width: 153px;
height: 36px;
left: 1205px;
top: 700px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;

color: #000000;
background-color: inherit;
border: none;
outline: none;
}
#page {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;

color: #000000;
background-color: inherit;
border: none;
outline: none;
}
.thegardenBig {
  position: absolute;

left: 500px;
top: 400px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: normal;

color: #000000;
}
.lggedOut {

position: absolute;

left: 650px;
top: 600px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: normal;

color: #000000;

}
.thumbnail {
  position: absolute;
  top: 200px;
  /* margin-left: 500px; */
  left: 50px;
}
/* .avatar {
  position: absolute;
  top: 100px;
  left: 0px;
} */
.note {

position: absolute;
left: 40px;
top: 700px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 50px;

color: #000000;

}
.bar {
  position: absolute;
left: 599px;
top: 900px;
margin-top: 200px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;

color: #33313B;

}
button {
  border: none;
  outline: none;
font-family:inherit;
font-size: inherit;
}
#authTitle {
  position: absolute;

left: 393px;
top: 364px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: normal;

color: #000000;
text-decoration: underline #FFD3DE;

}
#authEnterCode {

position: absolute;

left: 572px;
top: 579px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: normal;

color: #000000;
}
#authInput {
  position: absolute;
width: 323px;
height: 59px;
left: 567px;
top: 708px;
font-family: Roboto;
font-size: 50px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 29.5px;
outline: none;
font-family:inherit;
font-size: inherit;
}
#authSubmit {
  position: absolute;
width: 95px;
height: 36px;
left: 681px;
top: 809px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;

color: #000000;
border: none;
outline: none;
font-family:inherit;
font-size: inherit;
}
